<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'nutrition_report/css/header.css' %}">
         {% block content %} {% endblock %}
    </head>

    <body style="-webkit-print-color-adjust:exact;font-family:'Segoe UI';font-size: 12px;">

            {% block content %} {% endblock %}
        
    </body>
</html>


