{% extends "header.html" %}
{% load static %}


    {% block content %}
        <div class="toc">
            <h1 style="text-align: center;font-size: 16px;text-transform: uppercase;font-style: normal;color: #0168AB;">Table of contents</h1>
            <h2>(You may click on the section/link of interest below to skip to that section)</h2>
        </div>
        <ul class="outer">
            <li style="line-height: 1.5"> <h3 ><a href="#">INTRODUCTION</a></h3><span>2</span></li>

             <li class="nested">
                  <ul class="inner">
                      <li style="line-height: 2.5"> <h4><a href="#">Opening remarks, How to use this guide</a></h4><span>2</span></li>
                        <br>
                        <br>
                      <li style="line-height: 3.5"> <h4><a href="#">Disclaimer</a></h4><span>4</span></li>
                        <br>
                        <br>
                  </ul>
             </li>
            <li> <h3><a href="#">SECTION 1: Nutrition & Diet Genomics</a></h3><span>6</span></li>
            <br>
            <br>

             <li> <h3><a href="#">SECTION 2: Fitness Genomics</a></h3><span>26</span></li>
            <br>
            <br>

             <li> <h3><a href="#">SECTION 3: Other traits and interesting facts</a></h3><span>47</span></li>
            <br>
            <br>

             <li> <h3><a href="#">Glossary of key terms</a></h3><span>57</span></li>
            <br>
            <br>

            <li> <h3><a href="#">TEST METHODOLOGY, LIMITATIONS, CONDITIONS/TRAITS LIST & REFERENCES</a></h3><span>60</span></li>
            <br>
            <br>

        </ul>
    {% endblock %}


