{% extends "browser/base.html" %}
{% load static %}

{% block title %}
<title>
   Gbrowser | Tovana genome browser
</title>
{% endblock %}
{% block main_banner %}
<div class="overflow-hidden">
  <div class="container content-space-t-2 content-space-b-4">
    <div class="row justify-content-lg-between align-items-md-center">
      <div class="col-md-6 col-lg-5 mb-7 mb-md-0" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="2500">
        <!-- Heading -->
         <div class="mb-5">
          <h1 class="display-4 mb-3">Tovana Genome Browser</h1>
          <p class="lead"> The Tovana Genome Browser allows the user to view objects such as genes,
            variants, Quantitative Trait locus (QTLs), and so forth in their genomic context</div>
        <!-- End Heading -->

        <div class="d-grid d-sm-flex gap-3">
          <a class="btn btn-primary btn-transition" href="#genome_browser">Try It</a>
          <a class="btn btn-link" data-bs-toggle="modal" data-bs-target=".how_it_works_modal">how it works</a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="position-relative">
          <img class="img-fluid rounded-2" src="{% static 'landing_page/tovana_img/genome_viewer.png' %}" alt="intro_image" style="width: 100%;" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="2500">
          <div class="position-absolute top-0 end-0 w-100 h-100 bg-soft-primary rounded-2 zi-n1 mt-5 me-n5"></div>
        </div>
      </div>
    </div>
    <!-- End Row -->
  </div>

  <div class="modal fade how_it_works_modal" tabindex="-1" role="dialog" aria-labelledby="how_it_works_modal_id" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title h5 text-muted text-center mt-4" id="how_it_works_modal_id">Tovana Gbrowser help</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mt-6">
          <div class="mb-5">
          <h5>Moving</h5>
          <p class="lead">Move the view by clicking and dragging in the track area, or by clicking  or  in the navigation bar, or by pressing the left and right arrow keys.
            Center the view at a point by clicking on either the track scale bar or overview bar, or by shift-clicking in the track area.</p>
          <h5> Zooming</h5>
          <p class="lead">Zoom in and out by clicking  or  in the navigation bar, or by pressing the up and down arrow keys while holding down "shift".
            Select a region and zoom to it ("rubber-band" zoom) by clicking and dragging in the overview or track scale bar, or shift-clicking and dragging in the track area.</p>
          <h5> Showing Tracks </h5>
          <p class="lead">Turn a track on by dragging its track label from the "Available Tracks" area into the genome area, or double-clicking it.
            Turn a track off by dragging its track label from the genome area back into the "Available Tracks" area.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
  <!-- products check list -->

{% block products_check_list %}
<div class="container content-space-3 content-space-lg-3">
     <div id="genome_browser" class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2>Genome Browser </h2>
    </div>
    <div class="table-responsive-lg w-lg-100 mx-lg-auto">

    <iframe style="border : 2px solide #505050 ;" src="{% static 'jbrowse/index.html' %}" height="600" width="1200"></iframe>
    </div>
</div>

{% endblock %}



